GASTOSIA_APP_ENV=production
GASTOSIA_DATABASE_HOST=
GASTOSIA_DATABASE_PORT=5432
GASTOSIA_DATABASE_NAME=gastos_ia
GASTOSIA_DATABASE_USER=gastos_app
GASTOSIA_DATABASE_PASSWORD=
GASTOSIA_SESSION_SECRET=
GASTOSIA_SMB_USERNAME=
GASTOSIA_SMB_PASSWORD=
GASTOSIA_GOOGLE_CREDENTIALS_PATH=
GASTOSIA_GOOGLE_SPREADSHEET_ID=
GASTOSIA_RUBEN_INITIAL_PASSWORD=
GASTOSIA_ESME_INITIAL_PASSWORD=
GASTOSIA_POSTGRES_ADMIN_PASSWORD=
